.songlistWrapper {
  max-height: 60vh;
  h3 {
    color: white;
  }

  .lists {
    // margin: 1em;
    margin-top: 1em;
    background-color: rgba(0, 0, 0, 0.2); // Semi-transparent background
    border-radius: 4px;
    padding: 1em;

    overflow-y: scroll;
    max-height: 65vh;

    ul {
      .songbox {
        display: flex;
        justify-content: space-around;
        color: white;

        margin: 0.5em;
        .box {
          width: 10em;
          display: flex;
          justify-content: center;
          text-align: center;
        }

        .icon {
          cursor: pointer;
        }
      }
    }
  }
}
